@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  height: 65px;
  color: white;
  padding: 45px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

/* Header Styling */
.header--pic {
  height: 50px;
  margin-right: 6px;
}

.header--title {
  font-family: "Karla", sans-serif;
  font-weight: 900;
  text-shadow: 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0#000, 2px 2px 0 #000;
  margin-right: auto;
  margin-left: 10px;
  filter: drop-shadow(16px 10px 8px black);
  font-size: 40px;
  letter-spacing: -0.1em;
}
.header--subTitle {
  font-weight: lighter;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

/* Form Styling */
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-top: 30px;
}

.form--button {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  grid-column: 1 / -1;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  cursor: pointer;
}

.form--input {
  font-family: "Karla", sans-serif;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  text-indent: 5px;
}

/* Meme Styling */
.meme {
  position: relative;
  margin-top: 25px;
}

.meme--image {
  max-width: 100%;
  left: 130px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

/* Meme list styling */
.meme-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meme-item {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  width: 300px;
  position: relative;
}
.meme-item img {
  max-width: 100%;
}
.meme-item button {
  margin-top: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.meme-item button:hover {
  background-color: darkred;
}
